 body{
    background: linear-gradient(270deg, #947e7e, #000000);
    color:white;
    
}
p{
    text-align: justify;
}
.container{
    display: flex;
    justify-content: space-around;
    

}
.img{
    width: auto;
    height: 400px;
}
.img:hover{
    transform: scale(1.2);
}
.contact{
    background-color: lightskyblue;
    margin-right: auto;
    margin-left: auto;
    border-left: 500px;
}
.contactdiv{
   
    
   padding-left: 500px;
   
    
}


nav {
    font-size: 1.5rem;
    background-color: black;
    padding-left: 0;
}
nav ul {
    list-style-type: none;
    
    display: flex;
     justify-content: space-around; 
}
.home{
    background-color: violet;
}
nav ul li {
    cursor: pointer;
    padding: 0.5rem;
    padding-left: 80px;
    padding-right: 80px;
    
}

nav ul li:hover {
    background-color: #555;
    color: white;
}

@media all and (max-width: 400px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align: center;
    }
}

a{
    text-decoration: none;
}

